---
import NestedList from "./NestedList.astro";
import { MenuItem } from "./NestedList.astro";
import { Icon } from "astro-icon";
interface Props {
    title: string;
    items: Array<MenuItem>;
}
const { title, items } = Astro.props;
---

<div class="navbar bg-base-100">
    <div class="navbar-start lg:w-auto">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <Icon
                    pack="heroicons-solid"
                    name="menu-alt-1"
                    class="h-5 w-5"
                />
            </label>
            <NestedList
                items={items}
                mainUlClass="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
                childUlClass="p-2 menu-compact bg-base-100 rounded-box"
                dropdown={true}
            />
        </div>
        <a class="btn btn-ghost normal-case text-xl" href="/">{title}</a>
    </div>
    <div class="navbar-center hidden lg:flex lg:justify-start">
        <div class="divider divider-horizontal hidden lg:flex"></div>
        <NestedList
            items={items}
            mainUlClass="menu menu-horizontal px-1"
            childUlClass="p-2 menu-compact bg-base-100 rounded-box"
            dropdown={false}
        />
    </div>
    <div class="navbar-end">
        <!-- Reserved -->
    </div>
</div>
