---
import NestedList from "./NestedList.astro";
import { MenuItem } from "./NestedList.astro";

interface Props {
    title: string;
    items: Array<MenuItem>;
}
const { title, items } = Astro.props;
---

<div class="navbar bg-base-100">
    <div class="navbar-start lg:w-auto">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h8m-8 6h16"></path></svg
                >
            </label>
            <NestedList
                items={items}
                mainUlClass="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
                childUlClass="p-2 menu-compact bg-base-100 rounded-box"
                dropdown={true}
            />
        </div>
        <a class="btn btn-ghost normal-case text-xl">{title}</a>
    </div>
    <div class="navbar-center hidden lg:flex lg:justify-start">
        <div class="divider divider-horizontal hidden lg:flex"></div>
        <NestedList
            items={items}
            mainUlClass="menu menu-horizontal px-1"
            childUlClass="p-2 menu-compact bg-base-100 rounded-box"
            dropdown={false}
        />
    </div>
    <div class="navbar-end">
        <!-- Reserved -->
    </div>
</div>
