---
import { Icon } from "astro-icon";
type MenuItem = {
    text: string;
    href?: string;
    disabled?: boolean;
    children?: Array<MenuItem>;
};
interface Props {
    items: Array<MenuItem>;
    mainUlClass: string;
    childUlClass: string;
    dropdown: boolean;
}
const { items, mainUlClass, childUlClass, dropdown } = Astro.props;
export type { MenuItem, Props as NestedListProps };
---

<ul tabindex="0" class={mainUlClass}>
    {
        items.map((item) => {
            if (!item.children) {
                return (
                    <li>
                        <a href={item.href || "#"}>{item.text}</a>
                    </li>
                );
            } else {
                if (dropdown) {
                    return (
                        <li tabindex="0">
                            <a class="justify-between">
                                {item.text}
                                <Icon
                                    pack="ri"
                                    name="arrow-right-s-line"
                                    class="h-5 w-5"
                                />
                            </a>
                            <Astro.self
                                items={item.children}
                                mainUlClass={childUlClass}
                                childUlClass={childUlClass}
                                dropdown={dropdown}
                            />
                        </li>
                    );
                } else {
                    return (
                        <li tabindex="0">
                            <a>
                                {item.text}

                                <Icon
                                    pack="ri"
                                    name="arrow-down-s-line"
                                    class="h-6 w-6"
                                />
                            </a>
                            <Astro.self
                                items={item.children}
                                mainUlClass={childUlClass}
                                childUlClass={childUlClass}
                                dropdown={dropdown}
                            />
                        </li>
                    );
                }
            }
        })
    }
</ul>
